.home {
  margin: 5rem 0 0 0;
  width: 60%;
  margin: 5rem auto;
}

.header {
  background-color: #9d2e34;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.home .units {
  margin-top: 1rem;
}

.home .unit {
  display: flex;
  font-size: large;
  margin: 3rem;
}

.home .unit .download {
  cursor: pointer;
  color: #9d2e34;
  margin-left: 5px;
}

.home .search {
  display: flex;
  margin: 3rem;
  padding: 1rem 10rem 1rem 0.5rem;
  border-radius: 10px;
}

.home .headright {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home .headright .logout {
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
}

.home .loginlink,
.home .addlink {
  color: white;
  text-decoration: none;
}
